<p>
  The <a href="{{site.swc_site}}">Software Carpentry</a>
  program aims to help researchers get their work done with less time and pain
  by teaching introductory research computing skills.
  This hands-on workshop will cover entry level concepts and tools,
  including basic program design, version control, data management,
  and task automation.
</p>  
<p>
  Participants will be encouraged to help and interact with one another
  and to apply what they learn to their own research problems.
    For more information on what we teach and why,
    please see "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
</p>
